#My GitIgnore File


#Ignore Everything other than the 2013-02 directory
longname/*
Stockholm The Last Hostage/*
UDK-2012-10/*


#Ignore Binaries
UDK-2013-02/Binaries/*


#Ignore Development/Flash
UDK-2013-02/Development/Flash/*


#Ignore Engine
UDK-2013-02/Engine/*


#Ignore UDKGame
UDK-2013-02/UDKGame/*

#Except StockholmMaps and StockholmSounds
!UDK-2013-02/UDKGame/Content/Maps/StockholmMaps/*
!UDK-2013-02/UDKGame/Content/UT3/Sounds/StockholmSounds.upk



#Ignore Config
UDK-2013-02/UDKGame/Config/*

#Except DefaultInput and DefaultEngine
!UDK-2013-02/UDKGame/Config/DefaultInput.ini
!UDK-2013-02/UDKGame/Config/DefaultEngine.ini

